
body { 
    margin: 0px;
    padding: 10px;
    font-size: 12px;

    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        border-radius: 25px;
        padding: 10px;
        border: solid 

 }
  